[submodule "vendor/plugins/nifty-generators"]
	path = vendor/plugins/nifty-generators
	url = git://github.com/ryanb/nifty-generators.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/active_merchant"]
	path = vendor/plugins/active_merchant
	url = git://github.com/Shopify/active_merchant.git
[submodule "vendor/plugins/money"]
	path = vendor/plugins/money
	url = git://github.com/collectiveidea/money.git
