body {
  color: #c16928;
  font-family: comic sans ms;
  font-size: 14px; }

a {
  color: #e6a06d; }

p {
  padding-left: 10px; }

img {
  border: 1px solid;
  border-color: #c16928; }

.clear {
  clear: both; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.indented {
  margin-left: 20px; }

.integer_field {
  width: 20px; }

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0; }

#header {
  background: #ffffff url('/images/header.png') no-repeat top;
  height: 250px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 40px; }
  #header img {
    border: none; }

#footer {
  background: #ffffff url('/images/footer.png') no-repeat bottom;
  height: 150px; }

#container_for_background {
  position: relative;
  width: 840px;
  margin: 0 auto;
  padding: 0px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff url('/images/container_background.png') repeat-y top; }

#container_for_padding {
  padding: 0px 100px 0px 40px; }

#content {
  float: right;
  width: 500px;
  margin-right: 10px; }

#menu {
  float: left; }

#slideshow {
  height: 242px;
  overflow: hidden; }

#calendar {
  margin-right: 120px;
  margin-bottom: 20px; }

#goal_meter {
  float: right; }

#goal {
  float: right;
  color: #FFFFFF;
  text-align: center;
  padding-top: 6px;
  margin-top: 10px;
  height: 28px;
  width: 156px; }

#total {
  clear: both;
  color: #FFFFFF;
  float: right;
  text-align: center;
  padding-top: 6px;
  height: 28px;
  width: 156px; }

#member_photo {
  float: left;
  padding-right: 30px; }


#member_name {
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }
