- title "Gifts"

%table
  %tr
    %th Name
    %th Amount
  - for gift in @gifts
    %tr
      %td= h gift.name
      %td= h gift.amount
      %td= link_to 'Destroy', gift, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Gift", new_gift_path
